.details-btn{
    background-color: #275a53;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
    margin-left:100px;
}
.price{
    font-weight: bold;
    font-size: 22px;
    color:#275a53;
}
.card{
    border: none;
}
.card-text{
    font-weight: 500;
    color: gray;
}
.font-wight{
    font-weight:500;
    color: gray;
}